@font-face {
  font-family: "うずらフォント";
  font-display: block;
  src: url("../webfonts/uzura.ttf") format("truetype");
}

@font-face {
  font-family: "ふわふで";
  font-display: block;
  src: url("../webfonts/FuwaFude.ttf") format("truetype");
}

@font-face {
  font-family: "ちはや純";
  font-display: block;
  src: url("../webfonts/ちはや純.ttf") format("truetype");
}

@font-face {
  font-family: "number";
  // font-display: block;
  src: local("Meiryo");
  unicode-range: U+0030-0039;
}
