thead, tbody, tr, th, td {
    border-collapse: collapse;
    border: 2.5px solid #333;
}

.daily-col {
    height: 4.5rem;
    border-bottom: 1px solid silver;
}
.info-col {
    max-height: 6rem;
    height: 6rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.daily-star {
    width: 26px;
    height: 26px;
}

@media screen and (max-width: 1400px) {
    .daily-col {
        height: 4.2rem;
    }
    .daily-star {
        width: 24px;
        height: 24px;
    }
}
@media screen and (max-width: 1200px) {
    .daily-col {
        height: 3.8rem;
    }
    .daily-star {
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 992px) {
    .daily-col {
        height: 5.2rem;
    }
    .daily-star {
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 768px) {
    .daily-col {
        height: 5.2rem;
    }
}
@media screen and (max-width: 500px) {
    .daily-col {
        height: 4.5rem;
    }
    .daily-star {
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width: 400px) {
    .daily-col {
        height: 4.2rem;
    }
    .daily-star {
        width: 12px;
        height: 12px;
    }
}

.money-grid {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .5);
}