@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

body {
    font-family: 'Zen Maru Gothic', sans-serif;
    background-color: #f5f5f5;
    background-image: url(../assets/back_image.png);
    margin: 0;
    padding: 0;
}

.title h1{
    font-weight: bold;
    color: #2862ff;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white; /* 白で縁取り */
}
main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border-radius: 5px;
    font-size: 18px; /* フォントサイズを16pxに変更 */
    font-weight: bold; /* フォントを太字に変更 */
    font-family: 'Zen Maru Gothic', sans-serif; /* フォントを指定 */
}

.content {
    background-color: #C7EEEE;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 0 auto;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.btn-1 {
    background-color: #525ED2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 110px;
}

.btn-2 {
    background-color: #ce3f3f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 110px;
}

.btn-syounin{
    background-color: #525ED2;
    color: white;
    padding: 3px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    width: 220px;
}

/* ul要素のマージンやパディングをリセット */
ul {
    margin: 0;
    padding: 0;
  }
  
  /* リストアイテムのスタイル */
  li {
    list-style: none; /* デフォルトのリストスタイルを非表示にする */
  }

  .consent_li {
    margin-right: initial;
  }

.mt-1 {
    font-size: 28px;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: 0;
}

.mt-2 {
    font-weight: bold;
    text-align: right;
    color: #525ED2;
    margin-top: 0;
}
.input-type{
    width: 90%;
}

/* 項目部分 */
.consent_mojiA {
    font-weight: bold;
    pointer-events: none;
}

/* 項目タイトル部分 */
strong {
    font-weight: 600;
    color: #000000;
    margin-bottom: 0;
    margin-bottom: 5px;
    color: #525ED2;
    font-size: 18px;
}