@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

body {
    font-family: 'Zen Maru Gothic', sans-serif;
    background-color: #f5f5f5;
    background-image: url(../assets/back_image.png);
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: #D3DFFE;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 0 auto;
}
