@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap'); /*フォントの特定 */

/* 全体の部分 */
body {
    background-image: url('../assets/back_image.png');  /* 背景画像を設定 */
    font-family: 'Zen Maru Gothic', sans-serif; /* フォントを指定 */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


label {
    display: block;
    font-size: 20px;
}

input {
    font-size: 20px;
    text-align: center;
    width: 225px;
}

select {
    font-size: 20px;
    text-align: center;
    width: 225px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.content {
    background-color: #fff7ab;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 2;
}

.control {
    text-align: center;
    margin-bottom: 15px;
}

button.removeUser {
    margin-bottom: 15px;
    text-align: right;
    font-size: 20px;
    font-weight: 900;
}

button.removeUser {
    color: #fff;
    background-color: #5f6ad1;
    border-radius: 50%;
    font-weight: 900;
    border: none;
}

.btn-p {
    margin-bottom: 15px;
    text-align: right;
    font-size: 20px;
    font-weight: 900;
}

.btn-p button {
    color: #fff;
    background-color: #e65d45;
    border-radius: 50%;
    font-weight: 900;
    border: none;
}

/* 確認ボタン */
.btn {
    background-color: #525ED2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}

/* ペネトレーション */
.scrollable-container {
    max-height: 400px; /* 任意の高さを指定 */
    overflow-y: auto;
  }

.plus-minus-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-minus-buttons button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #ddd;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    outline: none;
}

.plus-minus-buttons button:hover {
    background-color: #ccc;
}

.menu-content {
    text-align: center;
}

a.z-1.col-auto {
    font-weight: bold;
    color: black;
}

.menu-content ul li {
    border-bottom: initial;
    list-style: none;
}

/* バリデーションの説明 */
.note {
    margin-top: 0;
    color: #8a8a8a;
    font-size: 13px;
}