@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap'); /*フォントの特定 */

/* ボタンの基本的なスタイル */
button {
    padding: 8px 20px; 
    background-color: #525ED2;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 15px;
}


/* ボタンにホバーエフェクトを追加 */
button:hover {
    background-color: #e4e9f8; /* ホバー時の背景色 */
}

main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border-radius: 5px;
    font-size: 18px; /* フォントサイズを16pxに変更 */
    font-weight: bold; /* フォントを太字に変更 */
    font-family: 'Zen Maru Gothic', sans-serif; /* フォントを指定 */
}

    /* フォーム内のテキストのスタイル */
/* form p {
    font-weight: bold;
    text-align: left; テキストを左寄せにする
    -webkit-text-stroke: 1px rgb(40, 155, 248);
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white; 白で縁取り

} */

label {
    display: block;
    margin-bottom: 5px;
    color: #7f98f1; /*テキストの色を指定 */
}

input {
    text-align: center;
}

input[type="checkbox"] {
    padding: 5px;
    margin-right: 10px; /* 右側に10pxの空白を追加 */
}

.item_edit_waku2 {
    background-color: #fff7ae;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 440px; /* 幅を固定 */
    margin: 0 auto;
    min-width: 370px; /* 最小幅を設定 */
    margin-top: 20px;
    margin-bottom: 100px;
}

/* 青色の枠部分 */
.item_edit_waku {
    background-color: #C7EEEE;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 370px; /* 幅を固定 */
    margin: 0 auto;
    min-width: 370px; /* 最小幅を設定 */
    margin-top: 20px;
    margin-bottom: 50px;
}

/* スマートフォン用のスタイル */
@media only screen and (max-width: 600px) {
    .item_edit_waku {
        width: 90%; /* スマートフォン画面に合わせて幅を調整 */
        min-width: auto; /* 最小幅を解除 */
        font-size: 70%;
        height: 70%;
    }
    .title h1{
        display: none; /* スマートフォン画面では非表示にする */
    }
}
.title h1{
    font-weight: bold;
    color: #2862ff;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white; /* 白で縁取り */
}

.choice {
    color: #7f98f1; /*テキストの色を指定 */
    margin-bottom: 0;
}

.btn-group {
    display: flex;
    margin-left: 40px;
    align-items: center;
}

.btn-1 {
    background-color: #525ED2;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    /* width: 60px; */
    margin-top: 10px;
}

.btn-1:hover {
    background-color : #9ba1de;
    color: white;
}

.btn-2 {
    background-color: #ce3f3f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    /* width: 60px; */
    margin-top: 10px;
}

.btn-2:hover {
    background-color : #de8e8e;
    color: white;
}

.btn-iti {
    margin-top: -20px;
    margin-bottom: 20px;
}

.item_edit_waku h1 {
    font-weight: bold;
    color: #7f98f1;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white; /* 白で縁取り */
}

strong {
    font-weight: 500;
    color: #000000;
    margin-bottom: 0;
}

.mt-1 {
    margin-bottom: 3px;
    color: #7f98f1; /*テキストの色を指定 */
    font-size: 23px;
    font-weight: 900;
}

.scroll_bar{
    background-color: #7EC1FF;
    padding: 20px; /* コンテンツの余白を調整 */
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    overflow-y: scroll; /* 垂直方向のスクロールバーを表示 */
    height: 170px; /* コンテンツの高さに合わせて調整（必要に応じて） */
    border-radius: 10px; /* スクロールバーの角を丸くする */

}


p.long-name {
    margin-bottom: 0px;
    margin-top: 15px;
}

.spinradio {
    display: initial;
    margin-right: 30px;
}

.spending_input_textarea {
    margin-top: 20px;
}

.p-form__flex-input.type {
    margin-top: 20px;
}

h2.c-text.c-text__subtitle {
    font-weight: bold;
    color: #2862ff;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}


.item_edit_moji {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table.p-table.p-table--category {
    border: 2px solid #525ED2;
    margin-bottom: 10px;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
    background-color: #525ED2;
    /* border: 2px solid brown; */
    color: white;
}

td {
    border: 2px solid #525ED2;
    background-color: white;
}