@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap'); /*フォントの特定 */

/* 全体の部分 */
body {
    background-image: url('../assets/back_image.png');  /* 背景画像を設定 */
    font-family: 'Zen Maru Gothic', sans-serif; /* フォントを指定 */
}

/* 画面中の枠組み */
.frame {
    display: flex;
    justify-content: center; /* 左右の余白を均等にすることで中央寄せ */
    align-items: center; /* 上下中央に配置する */
    height: 100vh; /* ビューポートの高さいっぱいに表示 */
}


/* ------------------------------------------------- */
/*  ログイン画面
    アカウント作成画面
    入力情報の確認画面
    共通 */
/* ------------------------------------------------- */

/* ログイン画面とアカウント作成画面の項目の枠組み */
.wrapper1 {
    text-align: center; /* テキストを中央寄せ */
    background-color: #fff7ab; /*背景色の指定 */
    padding: 50px; /* 長方形の中の余白を設定 */
    border-radius: 30px; /* 角を丸めることで長方形にする */
    z-index: 1; /* 表示優先度を変更してフッターと被らないようにしてる */
}

/* 「ログイン」「アカウント作成」の文字 */
h1 {
    font-size: 50px; /*フォントのサイズを指定 */
    font-weight: bold;  /* 太文字に設定 */
}

/* ボタン */
.btn {
    background-color: #525ED2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}


/* ------------------------------------------------- */
/* ログイン画面 */
/* ------------------------------------------------- */

/* iphoneSEでロゴが見えなくなる問題対策 */
.login_main {
    padding-top: 50px;
}

/* ログイン画面中の枠組み */
.frame_login {
    display: flex;
    justify-content: center; /* 左右の余白を均等にすることで中央寄せ */
    /* justify-content: space-around; */
    /* align-items: flex-start; */
    align-items: center; /* 上下中央に配置する */
    height: 100vh;
    margin: 30px;
    padding-top: 100px;
}

/* ログイン画面入力フォームの編集 */
.form-group_login{
    font-size: 20px; /*フォントのサイズを指定 */
    text-align: center;   /* このdivに入っている文字のみを左詰めに */
}

/* ログイン画面のひよこ画像 */
.login_hiyoko {
    margin-top: -308px; /*ひよこ画像位置を枠からはみ出させる */
    height: 250px;
}


/* ------------------------------------------------- */
/* アカウント作成画面 */
/* ------------------------------------------------- */

/* アカウント作成画面中の枠組み */
.frame_entry {
    display: flex;
    justify-content: center; /* 左右の余白を均等にすることで中央寄せ */
    align-items: center; /* 上下中央に配置する */
    height: 100vh; /* ビューポートの高さいっぱいに表示 */
    margin: 30px;
    padding-bottom: 100px;
}

/* アカウント作成画面入力フォームの編集 */
.form-group_entry{
    font-size: 20px; /*フォントのサイズを指定 */
    text-align: center;   /* このdivに入っている文字のみを左詰めに */
}

/* アカウント作成画面の確認ボタン */
.btn_margintop {
    margin-top: 10px; /*上の間隔を少しあける */
}

/* アカウント作成画面の入力欄 */
.form-control_entry{
    margin-bottom: 10px; /*下の間隔を少しあける */
    text-align: center; /*文字を中央ぞろえ */
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.note p {
    font-size: 13px;
    color: #868585;
}

.form-group_entry p {
    font-size: 13px;
    color: #868585;
    margin-bottom: 0;
}


/* ------------------------------------------------- */
/* 入力情報の確認画面 */
/* ------------------------------------------------- */
/* 入力情報の確認画面中の枠組み */
.frame_check {
    display: flex;
    justify-content: center; /* 左右の余白を均等にすることで中央寄せ */
    align-items: center; /* 上下中央に配置する */
    margin: 30px;
    padding-bottom: 100px;
}

/* 入力情報の確認画面中の入力情報の枠組み */
.control_check {
    background-color: #ffffff;
    border-radius: 10px;
}

/* 入力情報の確認画面中の入力情報の文字間隔 */
.moji-check {
    margin-bottom: 0px;
    font-weight: 500; /* 太字 */
}

/* 入力情報の確認画面中の変更ボタン */
.back-btn {
    background-color: #ce3f3f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

/* ペネトレーション */
.scrollable-container {
    max-height: 400px; /* 任意の高さを指定 */
    overflow-y: auto;
  }

/* アカウント作成の文字の部分 */
.title h1{
    font-size: 40px;
}

.note {
    margin-top: 0;
    color: #8a8a8a;
    font-size: 13px;
}