@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

body {
    font-family: 'Zen Maru Gothic', sans-serif;
    background-color: #f5f5f5;
    background-image: url(../assets/back_image.png);
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #4F40FF;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white; /* 白で縁取り */
}

label {
    margin-top: 20px;
    color: #7f98f1;
    font-weight: bold;
    font-size: 23px;
}

input {
    display: block;
    padding: 10px; /* 高さを大きくする */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    width: 250px;
}

input::placeholder {
    color: #a0a0a0; /* 好みの色に変更してください */
  }

.content {
    background-color: #D3DFFE;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 0 auto;
}

.control-1, .control-2 {
    text-align: center;
}

.btn {
    background-color: #525ED2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    width: 120px;
    margin-top: 40px;
    margin-bottom: 20px;
}