@use "../global" as g;
@use "../foundation/mixin" as m;

.p-monthsearch {
  font-size: 1.8rem;
  display: flex;
  align-items: center;

  // @include m.mq(tab) {
  //     justify-content: center;
  // }
  justify-content: center;

  &.center {
    justify-content: center;
    padding: 3rem 0 1rem;

    @include m.mq(tab) {
      padding: 0 0 1rem;
    }
  }

  @include m.mq(tab) {
    font-size: 2.2rem;
    text-align: center;
  }

  a {
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.7rem;
    font-weight: bold;

    &:last-of-type {
      font-weight: normal;
      margin-left: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: #ddd;
    }
  }

  input[type="month"] {
    position: relative;
    margin: 0 0.5rem;
    padding: 0.3rem 1rem;
    font-size: 1.8rem;
    max-width: 12rem;
    text-align: center;
    cursor: pointer;

    &::-webkit-calendar-picker-indicator {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}
