@use "../global" as g;
@use "../foundation/mixin" as m;

.p-pagenation{
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 3rem 0;
  span, a{
    font-size: 2rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: solid .1rem g.$main-blue;
  }
  a{
    color: g.$main-blue;
    transition: all .3s;
  }
  span, a:hover{
    background-color: g.$main-blue;
    color: #fff;
  }
}

.sp_only .p-pagenation {
  position: relative;
  display: block;
  text-align: center;
  a {
    display: inline-block;
    padding: .7rem 1.4rem;
    margin: 0 1rem;
  }
}