@use "../global" as g;
@use "../foundation/mixin" as m;

.setting {
  font-size: 3rem;
  text-align: center;

  &__overview {
    // width: 50%;
    display: inline-block;
    li {
      margin: 1rem 0;
      text-align: justify;
      text-align-last: justify;
      //   display: inline;
    }
  }
}
