@use "../global" as g;

.text-red {
  color: g.$dark-red;
}
.text-blue {
  color: g.$main-blue;
}

.p-sp-data-box {
  padding: 1.2rem 0 1.8rem;
  border-bottom: solid 0.1rem #ccc;
  &__head {
    margin: 2rem 0 1rem;
    font-size: 1.2rem;
    text-align: right;
    span {
      font-size: 2rem;
      padding-left: 0.5rem;
      font-weight: bold;
    }
  }
  &__overview {
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
    gap: 2.4rem;
    line-height: 1.2;
    p {
      font-size: 1.8rem;
      &:last-of-type {
        white-space: nowrap;
      }
    }
    span {
      position: relative;
      font-size: 1.4rem;
      white-space: nowrap;
    }
    i {
      display: none;
      position: absolute;
      cursor: pointer;
      right: -2.6rem;
      bottom: -0.1rem;
      font-size: 2rem;
    }
    &.hasmemo i {
      display: block;
    }
  }
  &__detail p {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
  }
  &__button {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
    > form,
    > .c-button {
      width: 45%;
    }
    .c-button {
      display: block;
      text-align: center;
      border-radius: 0.5rem;
      font-size: 1.4rem;
      &--bg-green {
        width: 100%;
        padding: 1.1rem 0;
        border: none;
        color: g.$dark-green;
      }
      &--bg-red {
        padding: 1.4rem 0;
        color: g.$dark-red;
      }
    }
  }
  //項目別合計金額リスト
  &__item-sum {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    background-color: #fff;
    border-radius: 10px;
    li {
      width: 33%;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.4;
      span{
        font-weight: bold;
      }
    }
  }
// テスト
  &__groupview.hide{
    display: none;
  }

  &__allview.hide{
    display: none;
  }

  &__frame.hide{
    display: none;
  }

  //データ無し
  &.nodata {
    padding: 2rem 0;
    border-top: solid 0.1rem #ccc;
    p {
      font-size: 1.6rem;
      text-align: center;
    }
  }
}
