@use "../global" as g;

.p-togglebutton-box {
    position: relative;
    margin: 2rem 1rem;

    label {
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 1.4rem;
        }

        >div {
            position: relative;

            input[type="checkbox"] {
                position: absolute;
                width: 0;
                height: 0;

                &:checked~.button {
                    background-color: #bee3f4;
                }

                &:checked~.circle {
                    transform: translateX(100%);
                    background-color: g.$main-blue;
                }
            }

            .circle {
                position: absolute;
                top: 0.4rem;
                left: 0.4rem;
                width: 2.4rem;
                height: 2.4rem;
                border-radius: 1.2rem;
                background-color: #fff;
                transition: all 0.3s;
            }

            .button {
                width: 5.5rem;
                border-radius: 1.6rem;
                height: 3.2rem;
                background-color: #ddd;
            }
        }
    }
}