@use "../global" as g;
@use "../foundation/mixin" as m;

.p-section {
  &__top {
    margin: 4rem 0 0;
    text-align: center;

    .pig {
      width: 100%;
    }

    @mixin base {
      border: solid 1px;
      padding: 1rem;
      background-color: rgba(0, 255, 255, 0.2);
      border-radius: 4rem;
      margin: 2rem 0;

      > h3 {
        font-size: 2.8rem;
        text-align: center;
        font-weight: bold;
        border-bottom: solid 0.1rem #ccc;
        padding-bottom: 1rem;
      }

      &-box:not(:last-child) {
        padding: 1.2rem 0 1.8rem;
        border-bottom: solid 0.1rem #ccc;
      }

      &-box {
        padding: 1.2rem 0 1.8rem;

        &__head {
          margin: 2rem 0 1rem;
          font-size: 1.2rem;
          text-align: right;
          span {
            font-size: 2rem;
            padding-left: 0.5rem;
            font-weight: bold;
          }
        }
        &__overview {
          align-items: flex-end;
          padding-bottom: 1rem;
          gap: 2.4rem;
          line-height: 1.2;

          p {
            font-size: 1.8rem;
            &:last-of-type {
              white-space: nowrap;
            }
          }
          span {
            position: relative;
            font-size: 1.4rem;
            white-space: nowrap;
          }
          i {
            display: none;
            position: absolute;
            cursor: pointer;
            right: -2.6rem;
            bottom: -0.1rem;
            font-size: 2rem;
          }
          &.hasmemo i {
            display: block;
          }
        }
      }

      .name {
        font-size: 3rem;
      }

      .p-form {
        padding: 3rem 0 1rem;

        @include m.mq(tab) {
          padding: 0 0 1rem;
        }
      }

      .indicator {
        > progress {
          width: 100%;
        }

        > .file_amount {
          display: flex;
          justify-content: space-between;

          > label {
            font-size: 18px;
          }
        }
      }

      .nodata {
        padding: 2rem 0;
        // border-top: solid 0.1rem #ccc;
        p {
          font-size: 1.6rem;
          text-align: center;
        }
      }
    }

    .exchange {
      @include base;
      &-box__overview {
        justify-content: space-around;
        > .point {
          font-size: 3rem;
        }
      }
    }

    .household_button {
      text-align: center;
      border: solid 1px;
      padding: 1rem;
      background-color: rgba(0, 255, 255, 0.2);
      border-radius: 4rem;
      font-size: 3rem;
      width: 40rem;
      display: inline-block;
      // @include base;
      // &-box__overview {
      //   justify-content: space-around;
      //   > .point {
      //     font-size: 3rem;
      //   }
      // }
    }

    .advice_review {
      @include base;
      &-box__overview {
        justify-content: space-between;

        .advice {
          font-size: 3rem;
          text-align: center;
        }
      }
    }

    .children_detail {
      @include base;
      &-box__overview {
        justify-content: space-between;
      }
    }

    .goal {
      @include base;
      font-size: 2rem;

      &-box__overview {
        justify-content: space-between;
      }
    }

    .message {
      @include base;
      &-box__overview {
        justify-content: space-between;
        display: inline;
      }
    }

    .mission {
      @include base;

      &-box:not(:last-child) {
        padding: 3px 25rem;
      }

      &-box {
        padding: 3px 25rem;
      }

      &-box__overview {
        justify-content: space-between;
        .name {
          font-size: 2rem;
        }
      }
    }

    &.hide {
      display: none;
    }
  }
}
